
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 150px;
    color: black;
}

div.container{
    width: 350px;
    padding: 25px;
    display: block;
    border: solid 2px black;
    background-color: rgb(178, 198, 214);
    margin: 0 auto;
}

div.container > h1{
    text-align: center;
}


form.login-form > input {
    width: 200px;
    padding: 3px;
    outline: none;
    border: 1px solid beige;
    border-radius: 2px;
}

form.login-form > input#submit-btn{
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    width: 100%;
    margin-top: 15px;
    padding: 7px 0;
}

p.mess_err{
    padding: 8px;
    color: rgb(165, 27, 27);
    font-size: 0.7em;
}