body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 150px;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

/* CONTAINER */
div.container{
    position: relative;
    background-color: rgb(178, 198, 214);
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    border: solid black 2px;
}
header.menu, main{
    border: 2px black solid;
    border-radius: 45px;
    padding: 25px;
}

/*Header External links*/
div.container > a.list-access, div.container > a.logout {
    position: absolute;
    display: block;
    background: aliceblue;
    padding: 10px 15px;
    border: 2px solid black;
}

div.container > a.list-access{
    top: -43px;
    left: -2px;
}

div.container > a.logout{
    top: -43px;
    right: -2px;
}

div.container > a.list-access:hover, div.container > a.logout:hover{
    background: rgb(178, 198, 214);
}

/* SIDE BAR MENU */
header.menu{
    margin: 15px 0 15px 15px;
    padding:10px;
    width: 300px;
}

header > div.head_subcontainers{
    padding: 10px 0;
    position: relative;
    text-align: center;
}

header > div.search-link-container{
    background: rgb(37, 101, 153);
    height: 19.2px;
    cursor: pointer;
}

div.head_subcontainers > a.search-link{
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
} 

header > div.videos_list{
    padding: 3px 3px;
    cursor: pointer;
}

header > div.videos_list > span.video_titles{
    display: inline-block;
    text-align: left;
    padding: 15px 5px 15px 20px;
    font-size: 0.8em;
}

button:focus{
    outline: none;
}
header > div.videos_list > a.delete_btn{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 1em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* MAIN CONTENT */
main{
    margin: 15px 15px;
    width: 755px;
}
main > div.title_container{
    padding: 2px;
}
main > div.title_container > h1{
    text-align: center;
    font-size: 1em;
}
main > div.video_container{
    height: 350px;
    background-color: whitesmoke;
}
main > div.video_container > iframe{
    width: 100%;
    height: 100%;
}

div.dialogBox_container > button.confirm{
    display: inline-block;
    width: 100px;
}


/* Container's common settings */ 
header > div.head_subcontainers, main > .main_subcontainers{
    border: 1.5px black solid;
    margin: 10px 10px;
}

div.main_subcontainers{
    text-align: center;
}


/* Search section */
main > section.search_container > form {
    padding: 0 7px;
}

form > div.searchBar_container, form > div.filterSearch_container{
    padding: 7px 0;
}

form > div.searchBar_container > input.search-bar{
    width: 400px;
    padding: 5px;
}

form > div.filterSearch_container > input.filter-nb{
    width: 40px;
    padding: 3px 0;
}

label{
    line-height: 0;
}

form > input{
    outline: none;
    border: 1px solid beige;
    border-radius: 2px;
}

/* SECTION SEARCH RESULTS */
div.res-vids-container{
    display: flex;
    position: relative;
    margin-bottom: 15px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color:  rgb(92, 137, 173) ;
}

a.res-link{
    height: 116.5px;
}
a.res-link > img.res-img {
    height: 100%;
    width: 150px;
}

div.res-details {
    padding-left: 10px;
}

p.res-description{
    font-size: 0.8em;
}

h4{
    margin: 0;
}

h4, p.res-description{
    margin-bottom: 0;
}

div.res-vids-container > a.add-btn {
    font-size: 1.4em;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px 15px;
    background: aliceblue;
}

div.res-vids-container > a.add-btn:hover{
    background : rgb(92, 137, 173);
}

/* Dialog box */
.dialogBox_container{
    display: none; 
    border:  rgba(202, 76, 76, 0.884) 2px solid;
    position: absolute;
    background: rgb(226, 224, 224);
    padding: 15px 50px;
    top: 30%;
    left: 30%;
    text-align: center;
}